@import "tailwindcss";

@font-face {
  font-family: 'Chawp';
  src: url('./assets/fonts/chawp/chawp.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-chawp: 'Chawp', sans-serif;
}

.font-glitch {
  position: relative;
  font-family: 'Chawp', sans-serif;
  color: white;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}